<footer class="footer">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="text-muted">
            We're opensource and built with <i class="fa fa-heart"></i>,
            <i class="devicon-git-plain"></i> fork us at <a href="https://github.com/simpleapisecurity"><i class="fa fa-github"></i> Github!</a><br />
            Also, check out our super permissive <a href="/LICENSE.html">license.</a>
          </p>
        </div>
        <div class="col-md-6">
          <div class="text-right text-muted">
            <p class="rss-subscribe">
              We have an <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i> RSS feed!</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>