---
layout: default
---

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Navigation</h3>
      </div>
      <div class="panel-body">
        {% for post in site.posts  %}
        {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
        {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
        {% capture next_month %}{{ post.previous.date | date: "%B" }}{% endcapture %}

        {% if forloop.first %}
        <strong>{{ this_month }}, {{this_year}}</strong>
        <ul>
          {% endif %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% if forloop.last %}
        </ul>
        {% else %}

        {% if this_year != next_year %}
        </ul>

        <strong>{{ next_month }}, {{next_year}}</strong>
        <ul>
          {% else %}
          {% if this_month != next_month %}
        </ul>
        <h3 id="{{ this_year }}-{{ next_month }}-ref">{{ next_month }}</h3>
        <ul>
          {% endif %}
          {% endif %}
          {% endif %}
          {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-md-9">
    {{ content }}
  </div>
</div>