---
layout: blog
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <h2 class="blog-post-title">{{ page.title }}</h2>

  <header class="post-header">
    <p class="post-meta text-muted">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%B %-d, %Y" }}
      </time>
      {% if page.author %}
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      &middot; <span itemprop="name">{{ page.author }}</span>
    </span>
      {% endif %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <hr />

  <div id="disqus_thread"></div>
  <script>
    (function() {
      var d = document, s = d.createElement('script');
      s.src = '//simpleapisecurity.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>
    Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
  </noscript>
</article>
